@using static Storeroommanagement.Enum.Groups
@model List<StorageModel>
<div class="container mt-3">
    
  <h2>Table Mobile</h2>
  
  <table class="table"  >
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Color</th>
        <th>Brand</th>
        <th>Groups</th>
      </tr>
    </thead>
    @foreach(var  item in Model){
            <tbody>
                @if (item.Groupsenum == GroupsEnum.Mobile)
                {
                    <tr>
                        <td>@item.Id</td>
        <td>@item.Model</td>
        <td>@item.Color</td>
                

       
        <td>@item.Brands</td>
      </tr>
        }
    </tbody>}
    </table>
    </div>
   
    

   <div class="container mt-3">
    
  <h2>Table LopTop</h2>
  
  <table class="table"  >
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Color</th>
        <th>Brand</th>
        <th>Groups</th>
      </tr>
    </thead>
    @foreach(var  item in Model){
            <tbody>
                @if (item.Groupsenum == GroupsEnum.LopTop)
                {
                    <tr>
                        <td>@item.Id</td>
        <td>@item.Model</td>
        <td>@item.Color</td>
                

       
        <td>@item.Brands</td>
      </tr>
        }
    </tbody>}
    </table>
    </div>
    <a type="submit"  class=" btn btn-info  "    asp-controller="Storage" asp-action="AddProduct"  >AddProduct

    </a>